:root {
    --main-size: 1rem;
    --main2-size: 2.618rem;
    --medium-size: 4.236rem;
    --large-size: 6.847rem;
    --large2-size: 13.694rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
button {
    cursor: pointer;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 2em;
    color: white;
    background-size: cover;
    background-position: center 90%;
    transition: background 1s ease-in-out;
}

#countdown {
    text-align: center;
    display: flex;
    flex-direction: row;
    color: black;
}
#countdown div, #countdown h2 {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: var(--main-size);
    width: var(--large-size);
    padding: 1rem;
    font-size: var(--main-size);
    border-radius: var(--main-size);
    box-shadow: 0 4px 6px rgba(0, 0, 1, 0.75);
}

#countdown h2 {
    width: 100%;
    font-size: var(--main2-size);
    font-weight: 200;
}

#countdown div span {
    font-size: var(--main2-size);
}

div#text {
    color: white;
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);
    padding: var(--medium-size);
    border-radius: var(--main-size);
    font-size: var(--main-size);
    font-family: 'Playwrite';
    text-align: center;
    width: 50%;
}

#sign {
    position: fixed;
    bottom: 0;
    right: 0;
    width: var(--medium-size);
    height: var(--medium-size);
    margin: var(--main2-size);
}

#sign img {
    height: 100%;
    width: 100%;
}


